<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRMTestAutomationTestSuite">
  <test thread-count="5" name="FreeCRMTestCases">
    <classes>
      <class name="com.crm.qa.testcases.LoginpageTest"/>
      <class name="com.crm.qa.testcases.HomepageTest"/>
      <class name="com.crm.qa.testcases.ContactspageTest"/>
      
    </classes>
  </test> <!-- FreeCRMTestCases -->
</suite> <!-- FreeCRMTestAutomationTestSuite -->
